.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-right: 8px;
  margin-left: 4px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  margin-top: 2px;
  padding-right: 16px;
  padding-left: 16px;

  font-family: 'Courier New', Courier, monospace;
  font-size: 78px;
}

.button {
  cursor: pointer;

  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  border: 2px solid transparent;
  border-radius: 2px;

  font-size: 32px;
  color: rgb(112, 76, 182);

  appearance: none;
  background: none;
  background-color: rgba(112, 76, 182, 0.1);
  outline: none;

  transition: all 0.15s;
}

.textbox {
  width: 64px;
  margin-right: 4px;
  padding: 2px;

  font-size: 32px;
  text-align: center;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
  /* stylelint-disable-next-line property-no-unknown */
  composes: button;
  position: relative;
}

.asyncButton::after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: rgba(112, 76, 182, 0.15);

  transition:
    width 1s linear,
    opacity 0.5s ease 1s;
}

.asyncButton:active::after {
  width: 0%;
  opacity: 1;
  transition: 0s;
}
