.post-list {
  list-style-type: none;
}

.post-item {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 35px;
  border-bottom: 1px solid #000;
}

.delete-item-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
