.PostsList {
  width: 100%;

  &__user-button {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: lightblue;
    }
  }

  &__list {
    list-style: none;
    padding-left: 5px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fafafd;
    line-height: 1.5;
  }
  
  &__button {
    margin-left: 10px;
    max-width: 44px auto 0;
    border: 2px solid #4d457b;
    color: #4d457b;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;


    &:hover {
      background-color: rgb(219, 17, 111);
      color: white;
    }
  }

  &__filterByTitle {
    border-radius: 8px;
    border: 2px solid #4d457b;
    font-size: 16px;
  }
}
