.dropdown {
  position: relative;

  &-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
  }

  &.is-active {
    .dropdown-menu {
      display: block;
    }
  }

  .dropdown-item {
    padding: 0.5rem 1rem;
    cursor: pointer;

    &.is-active {
      background-color: #f0f0f0;
    }
  }
}

.dropdown-trigger button {
  width: 100%;
}
