
body {
  margin: 0px;
  width: 100%;
}

.posts {
  width: 50%;
  margin: auto;
}

input.searchItem {
  padding-left: 10px;
  display: block;
  width: 50%;
  height: 50px;
  margin: 50px auto;
  outline: none;
  font-size: 16px;
  color: black;
  font-weight: 700;
  border: 1px solid gold;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

input.searchItem::placeholder {
  font-size: 12px;
  font-weight: 400;
  color: grey;
  text-align: center;
}

input.searchItem:focus::placeholder {
  color: white;
}

div.loading {
  position: absolute;
  width: 100px;
  font-size: 50px;
  color: blue;
  font-weight: 700;
  left: calc(50% - 100px);
  top: 50%;
}