iframe {
  display: none;
}

.Sidebar {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.Sidebar:not(.Sidebar--open) {
  opacity: 1;
}

.Sidebar .box {
  min-height: 100%;
}

.message-body {
  white-space: pre-line;
}
