iframe {
  display: none;
}

.tile {
  &.is-ancestor {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  &.is-parent {
    width: 50%;
  }
}

.Sidebar {
  overflow: hidden;
  opacity: 0;
  transition-property: max-width, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  &--open {
    opacity: 1;

    @media (min-width: 769px) {
      max-width: 50%;
    }

    .tile {
      height: 100%;
    }
  }
}

.message-body {
  white-space: pre-line;
}
