@keyframes ldio-825x8t7zp7o {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ldio-825x8t7zp7o div {
  box-sizing: border-box !important;
}

.ldio-825x8t7zp7o > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #253757;
  border-color: #253757 transparent;
  animation: ldio-825x8t7zp7o 1s linear infinite;
}

.ldio-825x8t7zp7o > div:nth-child(2),
.ldio-825x8t7zp7o > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-825x8t7zp7o 1s linear infinite reverse;
}

.ldio-825x8t7zp7o > div:nth-child(2) {
  border-color: transparent #28292f;
}

.ldio-825x8t7zp7o > div:nth-child(3) {
  border-color: transparent;
}

.ldio-825x8t7zp7o > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-825x8t7zp7o > div:nth-child(3) div:before,
.ldio-825x8t7zp7o > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #13d84e;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #13d84e;
}

.ldio-825x8t7zp7o > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #13d84e;
}

.ldio-825x8t7zp7o > div:nth-child(4) {
  border-color: transparent;
}

.ldio-825x8t7zp7o > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-825x8t7zp7o > div:nth-child(4) div:before,
.ldio-825x8t7zp7o > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #2f80ed;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #2f80ed;
}

.ldio-825x8t7zp7o > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #2f80ed;
}

.loadingio-spinner-double-ring-9q7pnd89ma7 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}

.ldio-825x8t7zp7o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-825x8t7zp7o div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
p,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #800;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
}

.post {
  margin: 10px;
  padding: 40px;
  width: 200px;
}

.post__delete {
  display: inline-block;
  margin-right: 20px;
}

.post__comments {
  margin-top: 20px;
  position: relative;
}

.button_delete {
  cursor: pointer;
}

.comment {
  color: blue;
}

.comment:first-child {
  border-top: none;
}

.comment__header:first-child {
  padding-top: 20px;
}

.comment__email {
  display: block;
  margin-top: 10px;
}

.load {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
