iframe {
  display: none;
}

.Sidebar {
  overflow: hidden;

  opacity: 0;

  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-property: max-width, opacity;

  &--open{
    opacity: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: max-width, opacity;

    @media (min-width: 769px) {
      max-width: 50%;
    }
  }

  @media (min-width: 769px) {
    max-width: 0;
  }
}

.message-body {
  white-space: pre-line;
}
