@media all {
  .dropdown.is-active .dropdown-menu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

.Sidebar {
  overflow: hidden;
  opacity: 0;
  transition-property: max-width, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  @media (min-width: 769px) {
    max-width: 0;
  }

  &--open {
    opacity: 1;

    @media (min-width: 769px) {
      max-width: 50%;
    }
  }
}

.message-body {
  white-space: pre-line;
}


.dropdown {
  position: relative;

  &-menu {
    display: none; /* по умолчанию скрываем */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  &.is-active {
    .dropdown-menu {
      display: block !important; /* ключевой момент */
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

