/* src/index.css */
html,
body,
[id='root'] {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial;
  background: #fff;
  color: #222;
}
