.PostDetails {
  &__post {
    padding: 10px 0 15px;
  }

  &__comments {
    text-align: right;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 1rem;
    background: rgb(190, 189, 188);
  }

  &__remove-button {
    min-width: 20px;
    color: inherit;
    background-color: transparent;
    transition: color 0.3s;
    margin-right: 10px;

    &:hover {
      color: #db0c0c;
      background-color: transparent;
    }

    &:hover + p {
      transition: color 0.3s;
      color: #db0c0c;
    }
  }
}

.select-post {
  display: block;
  text-align: center;
}
